#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    'pic pic pic'
    'search1 search1 aside'
    'search2 search2 aside'
    'main main aside'
    'main main aside'
    ;
    margin: 20px;
}

.pic {
    grid-area: pic;
    width: 100%;
}

.question {
    grid-area: search1;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 30px;
    color: var(--color-darkblue);
}

.search {
    grid-area: search2;
    display: flex;
    justify-self: center;
    text-align: center;
    margin-top: 10px;
    height: 45px;
}

.svar1, .svar2 {
    font-size: 1.4rem;
    border: 1px solid #71797E;
}

.svar1 {
    width: 33vw;
}

.svar2 {
    width: 8vw;
}

#ikon {
    color: black;
}


main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-top: 20px;
}

aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;

    margin-top: 30px;
    margin-bottom: 15px;
}

.box1, .box2, .box3, .box4 {
    background-color: var(--color-darkblue);
    color: var(--color-white);

    width: 25vw;
    /* min-height: 32vh; */

    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 15px;

}

.sidebox {
    background-color: var(--color-darkblue);
    color: var(--color-white);

    width: 27vw;
    min-height: 81vh;

    padding: 20px;
    border-radius: 15px;
}

img {
    width: 100%;
}

h4 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 25px;
}

.lista {
    font-size: 1.3rem;
    margin-left: 24px;
    padding: 10px;
    line-height: 5vh;
    list-style: none;
}

h3 {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

p {
    font-size: 1.3rem;
    padding: 3px;
}

.glas {
    min-height: 27.5vh;

    background: rgba(255, 255, 255, 0.07);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
}

hr {
    margin-top: 100px;
    margin-bottom: 55px;
}

.lista li:hover {
    color: var(--color-iceblue);
    /* text-decoration: underline; */
}

