#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    'pic pic pic'
    'search search aside'
    'main main aside'
    'main main aside'
    ;
    margin: 20px;
}

.pic {
    grid-area: pic;
    width: 100%;
}

.search {
    grid-area: search;
    border: 2px solid black;

    /* height: 70px; */
    margin-top: 20px;

    display: flex;
    justify-self: center;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}



main {
    grid-area: main;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;

    margin-top: 20px;
    
}

aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
}

.box1, .box2, .box3, .box4 {
    grid-area: main;
    background-color: var(--color-darkblue);
    color: var(--color-white);

    width: 300px;
    height: 200px;

    padding: 20px;

}
.sidebox1, .sidebox2 {
    grid-area: aside;
    background-color: var(--color-darkblue);
    color: var(--color-white);

    width: 300px;
    height: 270px;

    padding: 20px;
}

.sidebox1 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.sidebox2 {
    margin-bottom: 10px;
}


img {
    width: 100%;
}