#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    'pic pic pic'
    'search1 search1 aside'
    'search2 search2 aside'
    'main main aside'
    'main main aside'
    ;
    margin: 20px;
}

.pic {
    grid-area: pic;
    width: 100%;
}

.question {
    grid-area: search1;
    font-size: 2.1vw;
    justify-self: center;
    align-self: end;
    margin-top: 10px;
    color: var(--color-darkblue);

}

.search {
    grid-area: search2;
    display: flex;
    justify-self: center;
    text-align: center;
    margin-top: 25px;
    height: 45px;

}

.svar1, .svar2 {
    font-size: 1.8vw;
    border: 1px solid #71797E;
}

.svar1 {
    width: 33vw;
}

.svar2 {
    width: 8vw;
}

#ikon {
    color: black;
}


main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-top: 20px;
}

aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;

    margin-top: 30px;
    margin-bottom: 15px;
}

.box1, .box2, .box3, .box4 {
    background-color: var(--color-darkblue);
    color: var(--color-white);

    width: 28vw;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 15px;

}

.sidebox {
    background-color: var(--color-darkblue);
    color: var(--color-white);

    width: 28vw;
    padding: 20px;
    border-radius: 15px;
    
}


img {
    width: 100%;
}

h4 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 15px;
}

.lista {
    font-size: 1.3rem;
    margin-left: 15px;
    padding: 10px;
    line-height: 45px;
    list-style: none;
}

h3 {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

p {
    font-size: 1.3rem;
    padding: 5px;
    line-height: 28px;
}

.glas {
    height: 100%;
    background: rgba(255, 255, 255, 0.07);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
}

hr {
    margin-top: 75px;
    margin-bottom: 60px;
}

.lista li:hover {
    color: var(--color-iceblue);
}


@media screen and (max-width: 1200px) {

    .question {
        margin-top: 0;
        font-size: 2.4vw;
    }
    .svar1, .svar2 {
        font-size: 2.2vw;
    }

    .search {
        margin-top: 15px;
    }

    main {
        margin-top: 0;
    }

    .lista {
        margin-left: 10px;
    }
    
    h3 {
        margin-bottom: 20px;
        margin-top: 15px;
    }

    hr {
        margin-top: 65px;
    }

}

@media screen and (max-width: 960px) {

    main {
        display: flex;
        flex-direction: column;
    }

    .box1, .box2, .box3, .box4 {
        width: 55vw;
    }

    .sidebox {
        width: 37vw;
        height: 1220px;
    }


    .question {
        justify-self: start;
        margin-left: 12vw;
        font-size: 2.6vw;
        margin-top: 30px;
    }


    .search {
        justify-self: start;
        margin-left: 7vw;
        margin-bottom: 20px;
    }

    .svar1, .svar2 {
        font-size: 2.3vw;
    }

    h3 {
        margin-top: 150px;
    }


    hr {
        margin-top: 155px;
    }

}

@media screen and (max-width: 768px) {

    #container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'pic'
        'search1'
        'search2'
        'aside'
        'main'
        'main'
        ;
    }

    .question {
        justify-self: center;
        margin-left: 0;
        font-size: 4.1vw;
        margin-top: 10px;
    }

    .search {
        justify-self: center;
        margin-left: 0;
        margin-bottom: 10px;
        
    }

    .svar1, .svar2 {
        font-size: 3.9vw;
    }

    .svar1 {
        width: 55vw;
    }
    
    .svar2 {
        width: 17vw;
    }

    .box1, .box2, .box3, .box4 {
        width: 100%;
    }

    .sidebox {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 10px;
    
    }

    .sidebox1, .sidebox2 {
        width: 50%;
        padding: 10px;
    }


    .aside {
        margin-top: 10px;
    }

    h4 {
        font-size: 4vw;
    }
    
    .lista {
        font-size: 3.7vw;
    }

    h3 {
        margin-top: 0;
        margin-bottom: 12px;
        font-size: 4vw;
    }

    p {
        font-size: 3vw;
        line-height: 4vw;
    }

    hr {
        margin: 5px;
    }


}