.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    'pic1 pic1 pic1 pic1'
    'h1 h1 h1 h1'
    'box box box box'
    'pic2 pic2 pic2 pic2'
    ;
    margin: 20px;
}

.pic1 {
    display: flex;
    grid-area: pic1;  
    object-fit: cover;
    width: 100%;
    position: relative;
}

.box {
    grid-area: box;
    display: flex;
    justify-content: space-around;
}

.minibox {
    display: flex;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin-bottom: 50px;
    background-color: var(--color-darkblue);
}

#h1 {
    grid-area: h1;
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.pic2 {
    display: flex;
    grid-area: pic2;
}

img {
    max-width: 100%;
    z-index: -1;
}

i {
    display: flex;
    margin: 0 auto;
    font-size: 60px;
    color: var(--color-iceblue);
}

.slogan {
    position: absolute;
    font-size: 6vw;
    font-weight: 600;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-white);
    margin-top: 50px;
    background: rgba(125, 212, 255, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);
}




