.membership {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.memberbox {
    display: flex;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-darkblue);
    color: var(--color-white);
    padding-top: 10px;
    transition: 0.5s; /* Lade till denna Kyra, så att boxarna roterar lite långsammare :D //Alexander */
}

.memberbox:hover {
    transform: rotate(10deg);
}

.memberbox p {
    padding: 20px;
}

h1 {
    margin: 50px;
}

/* Formulär */

.formdiv {
    background-color: var(--color-darkblue);
    color: var(--color-white);
    width: 90%;
    margin: auto auto 20px auto;
}

#memberform fieldset {
    display: grid;
    gap: 10px;
    background-color: var(--color-iceblue);
    margin: 15px;
}

#memberform{
    color: black;
}