/* CONTENT */

body {
    background-color: var(--color-white);
}

.våragymmain {
    background-color: var(--color-darkblue);
    margin-bottom: 15px;
    width: 90%;
    margin: 10px auto 30px auto;
}

h1,
h2,
h4,
p {
    color: var(--color-white);
}

h3 {
    color: var(--color-iceblue);
}

h4 {
    margin-bottom: 5px;
}

.befintliggym,
.pinplats,
.expandering {
    display: flex;
    flex-wrap: wrap;
}

.expandering {
    justify-content: space-around;   
}

.befintliggym {
    justify-content:space-evenly;
}

.infoomkaresuando {
    display: block;
}

button {
    height: 2rem;
    width: 6rem;
    border: none;
    background: var(--color-white);
    border-radius: 12px;
    transition: 0.5s;
    margin-top: 30px;
}

button:hover {
    background-color: var(--color-iceblue);
}

.våragymh2 {
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
}

h3 {
    margin-bottom: 15px;
}

.google-map {
    margin: 15px 15px 15px 0px;
}

.pinplats {
    margin-top: 10px;
}

.fa-location-pin {
    margin-right: 5px;
}



/* Tablet */
@media screen and (max-width: 960px) {
    #hr1 {
    display: block;
        width: 100%;
        margin-right: 0%;
    }

    .öppningtext {
        margin-top: 30px;
    }

    .google-map {
        margin-bottom: 30px;
    }
}

/* Smaller tablet*/
@media screen and (max-width: 900px) {
    .google-map iframe{
        height: 100%;
        width: 100%;
    }
}

/* Mobile */
@media screen and (max-width: 600px){
    .befintliggym {
       justify-content: flex-start;
       padding-left: 3%;
    }

    .google-map-karesuando {
        align-self: center;
        width: 91%;
    }
}