body {
    background-color: var(--color-white);
}

.våragymmain {
    background-color: var(--color-darkblue);
    margin-bottom: 15px;
    width: 90%;
    margin: 10px auto 30px auto;
    padding-top: 40px;
    line-height: 1.5;
}

h1,
h2,
h4,
p {
    color: var(--color-white);
}

h3 {
    color: var(--color-iceblue);
}

h4 {
    margin-bottom: 5px;
}

.befintliggym,
.pinplats,
.expandering {
    display: flex;
    flex-wrap: wrap;
}

.expandering {
    justify-content: space-around;
}

.befintliggym {
    justify-content:space-evenly;
    padding-bottom: 30px;
}

.infoomkaresuando {
    display: block;
}

.google-map-karesuando > iframe,
.google-map > iframe {
    border-radius: 10px;
}

.about-link-button {
    height: 2rem;
    padding: 5px 20px;
    border: none;
    background: var(--color-white);
    border-radius: 12px;
    transition: 0.5s;
    margin-top: 30px;
}

.about-link-button:hover {
    background-color: var(--color-iceblue);
}

.våragymh2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

#viexpanderar {
    margin-bottom: 5px;
}

h3 {
    margin-bottom: 15px;
}

.google-map {
    margin: 15px 15px 15px 0px;
}

.pinplats {
    margin-top: 10px;
}

.fa-location-pin {
    margin-right: 5px;
}

.about-link-button {
    cursor: pointer;
}



/* Tablet */
@media screen and (max-width: 960px) {
    #hr1 {
    display: block;
        width: 100%;
        margin-right: 0%;
    }

    .öppningtext {
        margin-top: 30px;
    }

    .google-map {
        margin-bottom: 30px;
    }
}

/* Smaller tablet*/
@media screen and (max-width: 900px) {
    .google-map iframe{
        height: 100%;
        width: 100%;
    }
}

/* Mobile */
@media screen and (max-width: 600px){
    .befintliggym {
       display: block;
       max-width: 315px;
       margin: 0 auto;
    }

    .google-map-karesuando {
        align-self: center;
        border-radius: 10px;
    }
}